<app-navigation />
<div class="about-me">
    <div class="">
        <h1 class="hello">Hello, I'm Simeon Savov</h1>
        <p class="description">
         Dedicated calisthenics content creator with 9 years of personal experience in bodyweight training. 
         </p>
    </div>
  
    <img class="about" src="../../../assets/hello.jpg" alt="">
</div>

<div class="why-me">
    <h1 class="why-me-title">
        Why 
        choose me?
    </h1>
    <p class="decription-why">
        When you start with my programs, it's like we're teaming up for your calisthenics journey. I remember how tough my own beginning was, and that's why I'm here to guide you every step of the way. You're not just picking a workout plan; you're getting all the lessons from my own experiences. Together, we'll adjust your workouts to match exactly what you need and like, making sure it feels just right for you. It's about making this journey yours, with a program that grows and changes as you do. The best time to start was yesterday, but hey, we're here now, and that's what matters. Let's kick this off together and make it amazing.
    </p>
    <img class="why-img" src="../../../assets/why-me.jpg" alt="">
</div>
<app-footer/>