<app-main-view class="view" />
<!-- TODO: change the div class -->
<div class="register">
  <form #createForm="ngForm" (ngSubmit)="addNewExercise(createForm)" class="create-form">
    <div class="form-group">
      <h2>Create Exercise</h2>

      <div class="input-fields">
        <div class="name-exersice">
          <label for="nameOfexercise">Name</label>
          <input type="text" name="name" id="name" placeholder="Exercise Name" class="name-input" #nameOfexercise="ngModel" ngModel required />
        </div>
        <div class="exercise">
          <label for="exerciseUrl">Exercise URL</label>
          <input type="text" name="exercise" id="exercise" placeholder="Video URL" #exercise="ngModel" class="exercise-input" ngModel
            required />
        </div>
      </div>

      <button class="btn">Create</button>
    </div>

  </form>
</div>