.title {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 50px;
    top: 27%;
    left: 32%;
}

.subtitle {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 50px;
    top: 34%;
    left: 38%;
    font-size: 25px;
}


.app-img {
    position: absolute;
    width: 35vw;
    height: 80vh;
    top: 110%;
    left: 50%;
    border-radius: 30px;
    transform: translate(0%, 1%);
}

.our-app, .app-soon {
    z-index: 2;
}

.our-app {
    position: absolute;
    top: calc(110% + 17%);
    left: 10vw;
    color: black;
}

.add-subtitle {
    font-size: 1.2rem;
    font-weight: 100;
}

.add-title {
    font-size: 3.2rem;
    overflow-wrap: break-word;
    
}

.app-soon { 
    position: absolute;
    top: calc(110% + 20%);
    font-weight: 500;
    left: 10vw;
    text-align: left;
    color: black;
    width: 30%;
}

.btn {
    width: 10em;
    height: 3em;
    padding: 0.75rem 1rem;
    line-height: 1.5;
    border-radius: 5px;
    font-size: 1.1rem;
    vertical-align: middle;
    text-align: center;
   
}

.icon-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btns {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: calc(110% + 45%);
    left: 10vw;
    gap: 2.2vw;
}

.btn a {
    text-decoration: none;
    color: white;
}

.font-icon{
   color:white;
}

.google-play {
    background-color: #0C57FB;
    border:#0C57FB;
}

.google-play:hover {
    background-color: #0847d9;
    border:#0847d9;
}

.app-store {
    background-color: black;
    border: black;
    color: white;
}

.app-store:hover {
    background-color:#2C2C2C;
    border: #2C2C2C;
}


.how-to-start {
    position:absolute;
    top: 210%;
    left: 10vw;
    border-radius: 7px;
}

.custom-programs {
    position: absolute;
    top: calc(210% + 20%);
    right: 10vw;
    color: white;
    text-align: left;
    width: 40%;
}

.every-level {
    position: absolute;
    top: calc(210% + 16%);
    right: 40.3vw;
    color: white;

}

.start-training {
    position: absolute;
    color: white;
    top: calc(210% + 45%);
    right: 27vw;
}