<div class="welcome">
    <app-main-view/>
    <h1 class="title">The School of Calisthenics</h1>
    <p class="subtitle">Get in the best shape of your life</p>
</div>


<div class="app">
    <app-second-view/>
    <img class="app-img" src="../../../assets/app-soon.jpg" alt="app-soon">
    <p class="our-app">Our App</p>
    <h3 class="app-soon">
        From Beginner 
        to Pro 
        is in progress... 
    </h3>
    <div class="btns">
        <button class="btn app-store"><a href="">App Store</a></button>
        <button class="btn google-play"><a href="">Google Play</a></button>
    </div>
   
      
</div>

