<app-main-view class="view"/>
<div class="login">
  <form class="login-form">
    <h2>Login</h2>
    <div class="input-fields">
      <div class="username">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Username" autocomplete="off" class="form-input" required />
      </div>
  
      <div class="password">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password" autocomplete="off" class="form-password" required />
      </div>
   
    </div>

    <button type="submit" class="btn">Login</button>
    <p>Don't have an account? <a routerLink="/register">Register</a></p>
  </form>
</div>

  