

.workout-component {
    position: absolute;
    top: 130%;
    left:10vw;
    width: 20vw;
    height: 22vh;
    border-radius: 100px;
}

.workout-component img {
    width: 20vw;
    height: 22vh;
    object-fit: cover;
    border-radius: 5px;
}