.register {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.register-form {
    position: absolute;
    top: 15vh;
    left: 34%;
    background-color: #1a1a1a;
    border-radius: 10px;
    width: 30vw;
    height: fit-content;
    max-height: 82vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4.2vh;
    color: white;
}

.register-form input {
    width: 20vw;
    padding: 10px;
    border-radius: 3px;
    margin-left: 5vw;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.username, .password, .email, .repass {
    display: flex;
    flex-direction: column;
    gap: 1.35vh;
}

.register-form h2 {
    margin-top: 5vh;
    font-size: 2em;
}
/* TODO: FIX btn to be part of fieldset */
.btn {
    margin-left: 10vw;
    background-color: #0C57FB;
    border-color: #0C57FB;
    border-radius: 5px;
    color: white;
    padding: 12px;
    width: 10vw;
    font-weight: 400;
    height: 7vh;
    font-size: 1.2em;
}

.view {
    filter: blur(4px);
    overflow: hidden;
    z-index: -5;
}

.register-form p a{
    cursor: pointer;
    color: #0C57FB;
    text-decoration: none;
}

.register-form p {
    margin-bottom: 30vh;
}


h6.error {
    text-align: center;
    border-radius: 0.1em;
    color: red;
    padding-top: 0;
    margin: 0; /* Add this line to remove default margin */
    height: 0.5em;
}

.input-error { /* Optional: Style to apply to input when there's an error */
    border-left-color: red;
}
