<nav class="navbar">

    <a href="#" class="nav-logo"><img src="../../../../assets/logo_2.svg" alt="logo" width="85" height="85"></a>
    <input type="checkbox" name="toggle" id="toggle" class="toggle-menu" />
    <label for="toggle"><fa-icon [icon]="faBars"></fa-icon></label>
    <div class="menu">
        <ul class="list">
            <li><a routerLink="/about">About</a></li>
            <!-- If is logged in -->
            <ng-container *ngIf="isLoggedIn">
                <li><a routerLink="/training">Training</a></li>
                <li><a routerLink="/profile"><fa-icon class="profile" [icon]="faUserCircle"></fa-icon></a>
                <li (click)="logout()"><a routerLink="/logout">Logout</a></li>
                </ng-container>
           
            <ng-container *ngIf="!isLoggedIn">
                <li><a routerLink="/login">Login</a></li>
                <li id="registen-btn"><a routerLink="/register">Register</a></li>
            </ng-container>
           
        </ul>
    </div>
</nav>

