<nav class="navbar">

    <a href="#" class="nav-logo"><img src="../../../../assets/logo_2.svg" alt="logo" width="85" height="85"></a>
    <input type="checkbox" name="toggle" id="toggle" class="toggle-menu" />
    <label for="toggle"><fa-icon [icon]="faBars"></fa-icon></label>
    <div class="menu">
        <ul class="list">
            <li><a href="#">About</a></li>
            <li><a href="#">Training</a></li>
            <li id="registen-btn"><a href="#">Register</a></li>
            <li><a href="#">Login</a></li>

        </ul>
    </div>
</nav>

