.title {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 3rem;
    top: 27%;
    left: 35%;
    font-weight: 300;
}

.subtitle {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 50px;
    top: 34%;
    left: 31%;
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 100;
}

.personal-title {
    position: absolute;
    top: 110%;
    left: 32%;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 100;
    color: black;
    z-index: 1;
}