<app-main-view />
<h1 class="title">Workouts & Programs</h1>
<p class="subtitle">Workouts, Programs and Technique Guides that just work</p>

<h1 class="personal-title ">Your personal programs</h1>

<div class="programs">
    <ul class="program-component" *ngFor="let program of programs">
        <app-program  [program] = "program"/>
    </ul>
</div>

<h1 class="tech-title">Technique Guides</h1>
<div class="guides">
    <ul class="guide-program" *ngFor="let program of programs">
        <app-program  [program] = "program"/>
    </ul>
</div>

<app-third-view class="workout-libraly"/>
<h1 class="libraly-title">Workouts</h1>
<p class="libraly-subtitle">based on your needs and fitness level</p>
<div class="libraly">
    <ul class="libraly-videos" *ngFor="let program of programs">
        <app-program  [program] = "program"/>
    </ul>
</div>