* {
    margin:0;
}

.training {
    position: relative;
    width: 100vw;
    height: 100vh;
}


.title {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 3rem;
    top: 27vh;
    left: 35%;
    font-weight: 300;
}

.subtitle {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 50px;
    top: 34vh;
    left: 31%;
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 100;
}
.programs {
    position: relative;
    width: 100vw;
    height: 110vh;
    background-color: #f8f9fa;
}

.personal-title {
    position: absolute;
    top: 10vh;
    left: 32%;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 100;
    color: black;
    z-index: 1;
}

.program-components {
    position: absolute;
    width: fit-content;
    top: 27vh;
    left: 10%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 10vw;
    
}

/* TODO: make flexible the others program views */




.techniques {
    position: relative;
    height: fit-content;
    width: 100vw;
}

.tech-title {
    position: absolute;
    top: 60vh;
    left: 37%;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 100;
    color: black;
    z-index: 1;
    
}

.guides .guide-program {
    position: absolute;
    top: 78vh;
    left: 10%;
    display: flex;
    flex-direction: row;
    gap: 10vw;
    color:black;
}


.workout-libraly{
    position: relative;
    background-color: #1a1a1a;
    height: 70vh;
    width: 100vw;
    z-index: -4;
    display: flex;
    flex-direction: row;
    gap: 10vw;
}

.libraly-title {
    position: absolute;
    top: 5vh;
    left: 42%;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 100;
    color:white;
}

.libraly-subtitle {
    position: absolute;
    top: 15vh;
    left: 39%;
    font-size: 1.1rem;
    color: white;
}

.libraly-videos{
    position: absolute;
    top: 27vh;
    left: 10%;
}